html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #212121;
}

body {
    background-color: #212121;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 101px 22px 105px;
    background-color: #65F406;
}

header nav ul {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.header__left__nav-button {
    margin-right: 72px;
}

.header__left__nav-button a {
    display: flex;
    align-items: center;
}

.header__left__nav-button a img {
    margin-right: 17px;
}

.header__left__nav-button:last-child {
    margin-right: 0;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left-logo {
    margin-right: 191px;
}

.header__right {
    display: flex;
    font-size: 32px;
}

.header__right-login {
    border: none;
    background: none;
    margin-right: 35px;
}

.header__right-registration {
    background: none;
    padding: 10px 21px;
    border: 1px solid #212121;
    border-radius: 0;
}