html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, * {
    scrollbar-width: thin;
    scrollbar-color: #3A3A3A #212121;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #FFF;
}

header a, header a:active, header a:visited, header a:hover {
    text-decoration: none;
    color: #212121;
}

main {
    max-width: 1203px;
    margin: 0 auto;
}

header, main, footer {
    transition: all 0.3s;
}

section {
    background-color: #3A3A3A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    border: 1px 0 0 0 solid #FFF;
    margin-top: 0;
    margin-bottom: 25px;
}

body {
    background-color: #212121;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFF;
}

header {
    position: sticky;
    top: 0;
    padding: 16px 101px 16px 105px;
    background-color: #65F406;
    margin-bottom: 83px;
    z-index: 100;
}

.blur {
    filter: blur(5px);
}

.close-button {
    position: absolute;
    background: none;
    border: none;
    top: 30px;
    right: 30px;
}

.header__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.header__left__nav-button {
    margin-right: 72px;
}

.header__left__nav-button a {
    display: flex;
    align-items: center;
}

.header__left__nav-button a img {
    margin-right: 15px;
}

.header__left__nav-button:last-child {
    margin-right: 0;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left-logo {
    margin-right: 247px;
}

.header__right {
    display: flex;
}

.header__right-login {
    border: none;
    background: none;
    margin-right: 35px;
}

.header__right-registration {
    background: none;
    padding: 10px 21px;
    border: 1px solid #212121;
    border-radius: 0;
    font-weight: 600;
    border-radius: 10px;
}

.registration {
    display: none;
    position: relative;
    opacity: 0;
    transition: all 0.3s;
    width: 765px;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    overflow: auto;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    border-radius: 10px;
    padding: 30px 70px 35px;
    z-index: 100000;
}

.registration h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 40px;
}

.registration form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.registration input {
    padding: 26px 30px;
    margin-bottom: 56px;
    border-radius: 10px;
    border: 0;
    color: #FFF;
    background-color: #3A3A3A;
    font-size: 24px;
    font-weight: 400;
}

.registration__password__wrapper {
    padding: 26px 25px 26px 30px;
    margin-bottom: 60px;
    height: 80px;
}

.registration input[type=submit] {
    padding: 20px;
    color: #000000;
    margin-bottom: 0;
    background-color: #65F406;
    font-weight: 600;
    font-size: 37px;
}

.registration__checkbox-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.registration__checkbox-wrapper p a {
    font-weight: 700;
}

.registration__checkbox-wrapper input {
    display: none;
}

.registration__checkbox-checkmark {
    margin-right: 20px;
    height: 37px;
    width: 37px;
    background-color: #3A3A3A;
    border-radius: 10px;
}

.registration__checkbox-checkmark::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/svg/check.svg) no-repeat center center;
    background-size: contain;
    display: none;
}

.registration__checkbox-wrapper 
input[type=checkbox]:checked ~
.registration__checkbox-checkmark::after {
    display: block;
}

.login {
    display: none;
    position: relative;
    opacity: 0;
    transition: all 0.3s;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    overflow: auto;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    border-radius: 10px;
    padding: 30px 70px 35px;
    z-index: 100000;
    width: 765px;
}

.login h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 40px;
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input {
    padding: 29px 30px;
    margin-bottom: 56px;
    border-radius: 10px;
    border: 0;
    color: #FFF;
    background-color: #3A3A3A;
    font-size: 24px;
    font-weight: 400;
}

.login input[type=submit] {
    padding: 20px;
    color: #000000;
    margin-bottom: 0;
    background-color: #65F406;
    font-weight: 600;
    font-size: 37px;
}

.login__password__wrapper input,
.registration__password__wrapper input {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background: none;
}

.login__password__wrapper {
    padding: 29px 25px 29px 30px;
    margin-bottom: 80px;
    height: 86px;
}

.login__password__wrapper, 
.registration__password__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #3A3A3A;
    border-radius: 10px;
}

.login__password__wrapper img, 
.registration__password__wrapper img {
    cursor: pointer;
}

.popular {
    padding: 12px 26px 38px 26px;
    margin-bottom: 50px;
}

.popular h1 {
    font-size: 32px;
    margin-bottom: 24px;
}

.popular__gallery {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-self: flex-start;
}

.popular__gallery__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 47px;
}

.popular__gallery__card img {
    width: 286px;
    height: 440px;
    margin-bottom: 12px;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
    line-height: 80%;
    margin-bottom: 300px;
}

.wrapper section {
    padding: 20px 17px;
}

.wrapper h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 21px;
}

.catalog__card {
    display: flex;
    align-self: flex-start;
    margin-bottom: 38px;
}

.catalog__card:last-child {
    margin-bottom: 0;
}

.catalog__card img {
    width: 162.5px;
    height: 250px;
    border-radius: 10px;
    margin-right: 12px;
}

.catalog__card-info {
    margin-top: 5px;
}

.catalog__card-info h2 {
    font-weight: 700;
    margin-bottom: 17px;
}

.catalog__card-info p {
    font-size: 18px;
}

.top {
    margin-bottom: 50px;
}

.top__card {
    display: flex;
    align-self: flex-start;
    margin-bottom: 38px;
}

.top__card img {
    width: 80px;
    height: 80px;
    margin-right: 12px;
}

.top__card-info {
    margin-top: 5px;
}

.top__card-info h2 {
    font-weight: 700;
    margin-bottom: 17px;
}

.top__card-info p {
    font-size: 18px;
}

.genres ul {
    flex-direction: column;
    align-self: flex-start;
}

.genres li {
    display: inline-block;
    margin-bottom: 17px;
    padding: 8px 14px;
    background-color: #212121;
    border-radius: 2px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    padding: 60px 74px 60px 95px;
    background-color: #3A3A3A;
}

.footer__left a, .footer__left b {
    font-weight: 600;
}

.footer__right a {
    text-decoration: underline;
}