html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #212121;
}

main, footer {
    max-width: 1203px;
    margin: 0 auto;
}

section {
    background-color: #3A3A3A;
    border-radius: 10px;
}

body {
    background-color: #212121;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFF;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 101px 16px 105px;
    background-color: #65F406;
    margin-bottom: 83px;
}

header nav ul {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.header__left__nav-button {
    margin-right: 72px;
}

.header__left__nav-button a {
    display: flex;
    align-items: center;
}

.header__left__nav-button a img {
    margin-right: 15px;
}

.header__left__nav-button:last-child {
    margin-right: 0;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left-logo {
    margin-right: 218px;
}

.header__right {
    display: flex;
}

.header__right-login {
    border: none;
    background: none;
    margin-right: 35px;
}

.header__right-registration {
    background: none;
    padding: 10px 21px;
    border: 1px solid #212121;
    border-radius: 0;
}

.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 26px 38px 26px;
}

.popular h1 {
    font-size: 32px;
    margin-bottom: 24px;
}

.popular__gallery {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-self: flex-start;
}

.popular__gallery__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 47px;
}

.popular__gallery__card img {
    width: 286px;
    height: 440px;
    margin-bottom: 12px;
}